# Create triples with pre-defined relations, classified entities, and OpenIE triples

In [1]:
import pandas as pd

# Loading classified entities

paths = (r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\ENTS\BERN_Sample10k\All_ENT_Types_V2\All_Bern_Type_Disease_V3.csv",
r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\ENTS\BERN_Sample10k\All_ENT_Types_V2\All_Bern_Type_Drug_V3.csv",
r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\ENTS\BERN_Sample10k\All_ENT_Types_V2\All_Bern_Type_Gene_V3.csv",
r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\ENTS\BERN_Sample10k\All_ENT_Types_V2\All_Bern_Type_Species_V3.csv")
def load_file(path, type_):
    with open (path, 'r', encoding = 'utf-8') as file:
        data = pd.read_csv(file)
    return pd.DataFrame(data[type_].unique())  # get the unique

disease = load_file(paths[0], 'disease' )
drug = load_file(paths[1], 'drug' )
gene = load_file(paths[2], 'gene' )
species = load_file(paths[3], 'species' )

In [2]:
print(len(disease), len(drug), len(gene), len(species))

7095 4231 15799 1572

In [3]:
# Check overlap entities in triples
def check_overlap(type1, type2):
    check_overlap=type1.isin(type2)
    return check_overlap

check_overlap(gene, disease).value_counts()

False    15799
dtype: int64

In [4]:
check_overlap(gene, drug).value_counts()

False    15799
dtype: int64

In [5]:
check_overlap(gene, species).value_counts()

False    15799
dtype: int64

In [6]:
check_overlap(disease, species).value_counts()

False    7095
dtype: int64

In [7]:
#disease = disease(check_overlap(disease, species), drop)

In [8]:
# Loading the OpenIE triples
with open (r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\OpenIE\refined-S-R-O_triples_onlyBERN_3_cleaned.csv",'r', encoding = 'utf-8') as file:
    ie_triples = pd.read_csv(file)
ie_triples

,Unnamed: 0,Unnamed: 0.1,subject,relation,object
0,0,0,japan,be,human virus
1,1,1,prt,be_included_in,time
2,2,2,rsars-cov,lack,8a
3,3,3,mouse,sample/be_sampled_from,measurement
4,4,4,patient,met,center
...,...,...,...,...,...
35575,35575,35690,hct recipient,work_on,patient
35576,35576,35691,covid-19,be_declared,pandemic
35577,35577,35692,respiratory syndrome,be/have,acute respiratory illness
35578,35578,35693,isg20,be_in_replication_in,yfv
35579,35579,35694,child,be_with,bronchiolitis

In [9]:
# Clean Open IE triples

In [10]:
copy_ie_triples = ie_triples.copy()
copy_ie_triples

,Unnamed: 0,Unnamed: 0.1,subject,relation,object
0,0,0,japan,be,human virus
1,1,1,prt,be_included_in,time
2,2,2,rsars-cov,lack,8a
3,3,3,mouse,sample/be_sampled_from,measurement
4,4,4,patient,met,center
...,...,...,...,...,...
35575,35575,35690,hct recipient,work_on,patient
35576,35576,35691,covid-19,be_declared,pandemic
35577,35577,35692,respiratory syndrome,be/have,acute respiratory illness
35578,35578,35693,isg20,be_in_replication_in,yfv
35579,35579,35694,child,be_with,bronchiolitis

In [11]:
# Pseudo change entities into entities types
ie_triples['subject'].mask(ie_triples['object'].isin(disease[0]),'disease', inplace = True)
ie_triples['subject'].mask(ie_triples['object'].isin(drug[0]),'drug', inplace = True)
ie_triples['subject'].mask(ie_triples['object'].isin(gene[0]),'gene', inplace = True)
ie_triples['subject'].mask(ie_triples['object'].isin(species[0]),'species', inplace = True)                        
                                                  
ie_triples['subject'].value_counts()

gene                        9689
disease                     8385
species                     4801
drug                        1364
patient                      506
                            ...
mhla-dr                        1
cd81                           1
vido                           1
nucleotide triphosphates       1
traf3                          1
Name: subject, Length: 2095, dtype: int64

In [12]:
ie_triples['object'].mask(ie_triples['object'].isin(disease[0]),'disease', inplace = True)
ie_triples['object'].mask(ie_triples['object'].isin(drug[0]),'drug', inplace = True)
ie_triples['object'].mask(ie_triples['object'].isin(gene[0]),'gene', inplace = True)
ie_triples['object'].mask(ie_triples['object'].isin(species[0]),'species', inplace = True)                        
                                                  
ie_triples['object'].value_counts()

disease              12967
gene                  6884
drug                  2224
species               1969
time                   214
                     ...
snijder et al.           1
be                       1
shanghai genomics        1
facemask wearing         1
illiquidity              1
Name: object, Length: 1923, dtype: int64

In [13]:
'''
ie_triples.loc[(ie_triples['object'].isin(disease[0])),'object']='disease'
ie_triples.loc[(ie_triples['object'].isin (drug[0])),'object']='drug'
ie_triples.loc[(ie_triples['object'].isin (gene[0])),'object']='gene'
ie_triples.loc[(ie_triples['object'].isin (species[0])),'object']='species'

ie_triples['object'].value_counts()
'''

"\nie_triples.loc[(ie_triples['object'].isin(disease[0])),'object']='disease'\nie_triples.loc[(ie_triples['object'].isin (drug[0])),'object']='drug'\nie_triples.loc[(ie_triples['object'].isin (gene[0])),'object']='gene'\nie_triples.loc[(ie_triples['object'].isin (species[0])),'object']='species'\n\nie_triples['object'].value_counts()\n"

In [14]:
ie_triples

,Unnamed: 0,Unnamed: 0.1,subject,relation,object
0,0,0,species,be,species
1,1,1,prt,be_included_in,time
2,2,2,rsars-cov,lack,8a
3,3,3,mouse,sample/be_sampled_from,measurement
4,4,4,patient,met,center
...,...,...,...,...,...
35575,35575,35690,species,work_on,species
35576,35576,35691,disease,be_declared,disease
35577,35577,35692,disease,be/have,disease
35578,35578,35693,disease,be_in_replication_in,disease
35579,35579,35694,disease,be_with,disease

In [15]:

entity_types = ['gene', 'disease', 'drug', 'species']
# Check the numer of triples with both subjects and objects in the four entity types

((ie_triples['subject'].isin (entity_types)) & (ie_triples['object'].isin(entity_types))).value_counts()

True     24044
False    11536
dtype: int64

In [16]:
# Pre-define relations
'''
disease gene 
disease drug 
disease species
disease 


rel_d_g = 'have_gene'
rel_g_d = 'be_in''
rel_d_dr = 'be_treated_by'
rel_dr_d = 'treat'
rel_d_s = 'be_transmited_by'
rel_s_d = 'transmit'
rel_d_d = 'be_related_with'
'''

"\ndisease gene \ndisease drug \ndisease species\ndisease \n\n\nrel_d_g = 'have_gene'\nrel_g_d = 'be_in''\nrel_d_dr = 'be_treated_by'\nrel_dr_d = 'treat'\nrel_d_s = 'be_transmited_by'\nrel_s_d = 'transmit'\nrel_d_d = 'be_related_with'\n"

In [17]:
# Change dynamic relations into predefined relations

#ie_triples['object'].mask(ie_triples['object'].isin(disease[0]),'disease', inplace = True)

ie_triples['relation'].mask((ie_triples['subject']=='disease') & (ie_triples['object']=='gene'),'have_gene', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='gene') & (ie_triples['object']=='desease'), 'be_in', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='disease') & (ie_triples['object']=='drug'), 'be_treated_by', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='drug') & (ie_triples['object']=='disease'), 'treat', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='disease') & (ie_triples['object']=='species'), 'be_transmited_by', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='species') & (ie_triples['object']=='disease'), 'transmit', inplace = True)
ie_triples['relation'].mask((ie_triples['subject']=='disease') & (ie_triples['object']=='disease'), 'be_related_with', inplace = True)

In [18]:
ie_triples['relation'].value_counts()

be_related_with             8256
transmit                    2490
be_in                       1413
be/have                      905
be_located_in                576
                            ...
crystallized_as                1
ed_by                          1
causing_epidemics_in           1
express_carbohydrates_in       1
be_acted_by                    1
Name: relation, Length: 7129, dtype: int64

In [19]:
new_relation = [i for i in ie_triples['relation']]
copy_ie_triples['new_relation'] = new_relation
copy_ie_triples

,Unnamed: 0,Unnamed: 0.1,subject,relation,object,new_relation
0,0,0,japan,be,human virus,be
1,1,1,prt,be_included_in,time,be_included_in
2,2,2,rsars-cov,lack,8a,lack
3,3,3,mouse,sample/be_sampled_from,measurement,sample/be_sampled_from
4,4,4,patient,met,center,met
...,...,...,...,...,...,...
35575,35575,35690,hct recipient,work_on,patient,work_on
35576,35576,35691,covid-19,be_declared,pandemic,be_related_with
35577,35577,35692,respiratory syndrome,be/have,acute respiratory illness,be_related_with
35578,35578,35693,isg20,be_in_replication_in,yfv,be_related_with
35579,35579,35694,child,be_with,bronchiolitis,be_related_with

In [20]:
copy_ie_triples['new_relation'].value_counts()

be_related_with             8256
transmit                    2490
be_in                       1413
be/have                      905
be_located_in                576
                            ...
crystallized_as                1
ed_by                          1
causing_epidemics_in           1
express_carbohydrates_in       1
be_acted_by                    1
Name: new_relation, Length: 7129, dtype: int64

In [21]:
copy_ie_triples.drop(columns = ['relation', 'Unnamed: 0'], inplace = True)

In [22]:
predef_relations = ['have_gene', 'be_in', 'be_treated_by', 'treat', 'be_transmited_by','transmit', 'be_related_with']
new_triples = copy_ie_triples.loc[(copy_ie_triples['new_relation'].isin(predef_relations) )]
new_triples

,Unnamed: 0.1,subject,object,new_relation
13,13,aerosol,guinea pig,be_in
14,14,uk,influenza,transmit
19,19,mp,sars-cov infection,be_related_with
29,29,obesity,china,be_in
31,31,%,ebv,be_related_with
...,...,...,...,...
35574,35689,influenza virus,disease,be_related_with
35576,35691,covid-19,pandemic,be_related_with
35577,35692,respiratory syndrome,acute respiratory illness,be_related_with
35578,35693,isg20,yfv,be_related_with
35579,35694,child,bronchiolitis,be_related_with

In [23]:
new_triples.new_relation.value_counts()

be_related_with    8256
transmit           2490
be_in              1413
treat               143
Name: new_relation, dtype: int64

In [24]:
with open(r"C:\Users\huyen\OneDrive - UNT System\COURSES\INFO 5731\Final_Project\Group6_Working\AUG4\KG\triples_with_predefined_relations\final_triples_with_predefined_relations_cleaned_stage1.csv", 'w', newline = '', encoding = 'utf-8') as f:
    new_triples.to_csv(f)